<html>
    <head>
        <style>
            body { 
				text-align: center;
				font-family: comic sans ms; 
				background-color: #000000;
			}
			h1	{
				color: #7FFF00
			}
        </style>
    </head>

    <body>
        <h1>Welcome to VXD Bot. Let's make money!.</h1>
        <img src="https://scontent.fcnx1-1.fna.fbcdn.net/v/t1.6435-9/192990267_3022999021265265_2517387465812929560_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeFKR5ayQtVW5oJfJRE-rfN6-G8vLot-gQ_4by8ui36BD6p3hq2JDHjTyT_mn--rltWLWZvePtDPHYj_80n5TXX-&_nc_ohc=xPKBVE5rrAcAX9oiE5P&_nc_ht=scontent.fcnx1-1.fna&oh=00_AT8pJoF6eqVs2h923zw_-0nGXLAuLBYhP1hW8r0E9p9deA&oe=631E3184"  height="600"/>
    </body>
</html>